*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(180deg,#ffd6df,#ffb6c1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  margin: 20px 0;
  color: #b3003b;
  font-weight: 600;
}

/* Envelope */
.envelope-box{
  margin-top: 30px;
}

#envelope{
  width: 220px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#envelope:hover{
  transform: scale(1.05);
}

/* Letters buttons */
.letters{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}

.letters a{
  text-decoration: none;
  background: white;
  padding: 12px 18px;
  border-radius: 14px;
  color: #b3003b;
  font-weight: 600;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

/* Overlay */
#overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(8px);
  display: none;
  z-index: 999;
  overflow: hidden;
}

#overlay.active{
  display: block;
}

.cancel{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.rain-text{
  position: absolute;
  top: -50px;
  color: #fff;
  font-size: 22px;
  animation: fall 5s linear forwards;
  text-shadow: 0 0 10px #ff4d6d;
}

@keyframes fall{
  to{
    top: 110%;
    opacity: 0;
  }
}
